.contact-bar {
    border: 1px solid var(--primary-color);
    opacity: 0.8;
    border-radius: rem(9px);
    background-color: var(--primary-color-dark);
    /*box-shadow: 0 0 2px 1px rgba(0, 158, 227, 0.5);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: rem(55px);
    padding: rem(22.5px) rem(5px) rem(27.5px);
    height: auto;
    flex-shrink: 0;

    &.fixed {
        position: fixed;
        right: 0;
        z-index: 1000;
        top: 50%;
        transform: translateY(-50%);
    }

    &__button {
        display: flex;
        align-items: center;
        padding: 0;
        flex-direction: column;
        border: none;
        background-color: transparent;
        outline: none;
        text-decoration: none;
        width: rem(50px);
        &.fixed-padding {
            padding: rem(7px) 0;
        }
    }
    &__text {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .contact-bar {
        border-radius: rem(20px);
        width: rem(78px);
        padding: rem(24px) rem(5px);
        /*height: rem(436px);*/
        &.fixed {
            right: rem(40px);
        }
        &__text {
            display: block;
            color: var(--font-color-tertiary);
            font-size: rem(12px);
            font-weight: bold;
            letter-spacing: 0;
            line-height: rem(16px);
            text-align: center;
        }
        &__button {
            width: initial;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .contact-bar {
        &.fixed {
            right: rem(60px);
        }
    }
}
