.navbar {
    padding-top: 0;
    box-shadow: 0 rem(2px) rem(4px) 0 rgba(0, 0, 0, 0.5);
    & .mobile-container {
        background-color: var(--background-color-2);
        position: relative;
        height: 0;
        overflow: hidden;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        &.show {
            height: 78px;
        }
    }
    & .container {
        position: relative;
    }
    &-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(18px) 0;
        gap: rem(20px);
        & .btn-accessibility {
            display: flex;
            justify-content: center;
            align-items: center;
            height: rem(32px);
            width: rem(95px);
            border: rem(1px) solid var(--primary-color);
            color: var(--font-color-secondary);
            font-weight: bold;
            text-decoration: none;
            border-radius: 16px;
            background-color: var(--white-color);
            box-shadow: 0 2px 4px 0 var(--component-color);
        }
        & #login-button {
            color: var(--primary-color-dark);
            font-weight: bold;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    & .navbar-toggler {
        padding: 0;
        display: flex;
        height: 24px;
        width: 24px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        border: none;
        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }
        & span {
            display: block;
            background: var(--primary-color-dark-2);
            border-radius: 4px;
            height: 2px;
            margin: 0;
            transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }
        & span:nth-of-type(1) {
            width: 100%;
        }

        & span:nth-of-type(2) {
            width: 75%;
        }

        & span:nth-of-type(3) {
            width: 50%;
        }
        &.open {
            span:nth-of-type(1) {
                transform-origin: left;
                transform: rotatez(45deg) translate(4px, 0px);
            }

            span:nth-of-type(2) {
                width: 100%;
                transform-origin: center;
                transform: rotatez(-45deg) translate(-1px, -1px);
            }

            span:nth-of-type(3) {
                opacity: 0;
                width: 0;
            }
        }
    }
    &-collapse {
        position: absolute;
        text-align: center;
        font-weight: bold;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: var(--body-color);
        padding: rem(33px) rem(16px) rem(56px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 10000;
        & .mobile__options {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0;
            gap: rem(15px);
            & a {
                color: var(--font-color-text);
                text-decoration: none;
            }
        }

        & hr {
            width: 60%;
            margin: 0;
            bottom: 0;
            opacity: 1;
            height: 4px;
            border-radius: 3px;
            color: var(--font-color-primary);
            margin: rem(40px) 0 rem(47px);
        }
        & li {
            margin-bottom: 36px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        & a.nav-link {
            display: inline-block !important;
            color: var(--primary-color-dark) !important;
            padding-top: 0;
            padding-bottom: rem(4px);

            &.active,
            &:hover {
                color: var(--font-color-primary) !important;
                border-bottom: 2px solid var(--primary-color);
            }
        }
    }
    & .accessibility {
        &-menu {
            display: none;
            max-width: rem(333px);
            border: rem(1px) solid var(--primary-color);
            border-radius: rem(11px);
            background-color: var(--body-color);
            box-shadow: 0 rem(4px) 1 rem(8px) 0 rgba(0, 0, 0, 0.1);
            padding: rem(24px);
            position: absolute;
            top: 112%;
            right: 0;
            &.show {
                display: block;
                z-index: 10001;
            }
            &__triangle {
                width: rem(22px);
                height: rem(24px);
                overflow: hidden;
                background-color: var(--body-color);
                position: absolute;
                top: rem(-24px);
                right: rem(90px);
                .arrow-up {
                    width: rem(23px);
                    height: rem(29px);
                    transform: rotate(47deg) skew(19deg, 13deg)
                        translateY(rem(5px)) translateX(-3px);
                    transform-origin: bottom left;
                    border: rem(1px) solid var(--primary-color);
                }
            }
            &__header {
                display: flex;
                margin-bottom: rem(37px);
                & img {
                    flex-shrink: 0;
                }
                & h3 {
                    color: var(--primary-color-dark);
                    font-size: rem(28px);
                    letter-spacing: 0;
                    line-height: rem(34px);
                }
            }
            &__body {
                text-align: center;
                & p {
                    color: var(--font-color-text);
                    font-size: rem(12px);
                    font-weight: 500;
                    letter-spacing: 0;
                }
                & button {
                    height: rem(80px);
                    width: rem(117px);
                    border: 1px solid var(--component-color);
                    border-radius: rem(10px);
                    background-color: var(--white-color);
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .navbar {
        &-collapse {
            & .mobile__options {
                width: 90%;
                display: flex;
                flex-direction: row;
            }
        }
    }
}
@media only screen and (min-width: 992px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: rem(22px) 0;
        box-shadow: 0 rem(-3px) rem(6px) 0 rgba(0, 0, 0, 0.2);
        &-collapse {
            position: relative;
            padding: 0 rem(20px);

            & .navbar-nav {
                max-width: rem(600px);
                width: 90%;
                /*justify-content: space-between;*/
                justify-content: center;
                align-items: center;
                & li {
                    margin-bottom: 0;
                    margin-right: rem(20px);
                }
            }
        }
        & .navbar-buttons {
            padding: 0;
            width: initial;
        }
        &-buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: rem(18px) 0;
            & .btn-accessibility {
                height: rem(32px);
                width: rem(51px);
            }
        }
        & .accessibility {
            &-menu {
                top: 129%;
                right: rem(20px);
                &__triangle {
                    right: rem(70px);
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .navbar {
        &-collapse {
            & .navbar-nav {
                width: 90%;
            }
        }
        & .accessibility {
            &-menu {
                top: 129%;
                right: rem(20px);
            }
        }
    }
}
