.request-service {
    border-radius: 1.5rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    position: relative;
    padding: rem(77px) rem(18px) rem(32px);

    display: flex;

    align-items: center;
    justify-content: center;
    .image {
        width: rem(320px);
        position: absolute;
        top: rem(-250px);
        display: none;
        img {
            border-radius: rem(15px);
        }
    }

    .content {
        width: 100%;
        .title {
            margin-bottom: 1.875rem;
            margin-left: 1rem;

            &::before {
                content: "";
                position: absolute;
                width: 0.312rem;
                height: 2.062rem;
                display: block;
                border-radius: 0.187rem;
                background-color: var(--primary-color);
                margin-left: -1rem;
                margin-top: 0.5rem;
            }

            h4 {
                color: #003b7f;
                font-size: 1.75rem;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 2.125rem;
                margin: 0;
            }
            h5 {
                color: #8393a8;
                font-size: 1.25rem;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 1.875rem;
                margin: 0;
            }
        }

        .steps {
            .step {
                display: none;
            }
            .active {
                display: block;
            }
        }

        form {
            label {
                color: #003b7f;
                font-size: 1rem;
                font-weight: 900;
                letter-spacing: 0;
                line-height: 1.125rem;
                margin-bottom: 0.625rem;
            }
            .row {
                margin-bottom: 0.625rem;
            }
            input {
                height: 3.062rem;
                border: 0.125rem solid #c9d3dd;
                border-radius: 0.25rem;
                outline: none;
            }

            .container-business-name {
                display: none;

                &--show {
                    display: block;
                }
            }

            .controls {
                margin-top: 2.5rem;

                .buttons {
                    text-align: center;

                    button {
                        height: 3.25rem;
                        border-radius: 1.25rem;
                        background-color: #009ee3;
                        padding: 0 4.375rem;
                        font-size: 1.5rem;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 0;
                        text-align: center;
                        &.request-service__button {
                            font-size: rem(18px);
                            padding: rem(10px) rem(55px);
                            height: rem(50px);
                        }
                        &:hover {
                            background-color: var(--white-color) !important;
                            color: var(--font-color-primary) !important;
                            border-color: var(--primary-color) !important;
                        }
                    }

                    .btn {
                        padding: 0.312rem 1.875rem;
                        margin-bottom: rem(20px);
                        /*line-height: 0;*/
                        div {
                            font-size: 0.875rem;
                            font-weight: 500;
                            margin-top: -0.425rem;
                        }
                    }
                }
            }

            .indicators {
                margin-top: rem(30px);
                .dots {
                    height: 100%;
                    display: flex;
                    align-items: end;
                    justify-content: center;

                    .dots-item {
                        display: inline-block;
                        width: 0.625rem;
                        height: 0.625rem;
                        border-radius: 50%;
                        background-color: #009ee3;
                        opacity: 0.2;
                        box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
                        &:first-child {
                            margin-right: 0.625rem;
                        }
                    }
                    .active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__button {
        font-size: rem(18px) !important;
        padding: rem(10px) rem(55px) !important;
        height: rem(50px) !important;
        & :hover {
            background-color: var(--white-color);
            color: var(--font-color-primary);
            border-color: var(--primary-color);
        }
    }
}
.form-request-service__inputs {
    &--cilinder {
        display: none;
        &.show {
            display: block;
        }
    }
    &--installation {
        display: none;
        &.show {
            display: block;
        }
    }
    &--granel {
        display: none;
        &.show {
            display: block;
        }
    }
}

@include media-breakpoint-up(md) {
    .request-service {

        padding-left: rem(50px);
        padding-right: rem(50px);

    }
}

@include media-breakpoint-up(lg) {
    .request-service {
        padding: rem(44px) rem(110px) rem(25px) rem(210px);
        width: 70%;

        .image {
            position: absolute;
            top: rem(25px);
            left: rem(-250px);
            width: initial;
            display: block;
        }
        .content {
            form {
                .controls {
                    .buttons {
                        text-align: right;

                        .btn {
                            display: inline-block;
                            margin-bottom: 0;
                            &:first-child {
                                margin-right: 1.25rem;
                            }
                        }
                    }
                }
                .indicators {
                    position: relative;
                    top: -1.562rem;
                    .dots {
                        justify-content: start;
                    }
                }
            }
        }
    }
}
