.heading-title {
    margin-bottom: 3.75rem;
    h2 {
        color: var(--font-color-primary);
        font-size: rem(16px);
        font-weight: bold;
        letter-spacing: 0;
        line-height: rem(19px);
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2.5rem;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 5rem;
            height: 0.375rem;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 0.187rem;
            background-color: var(--primary-color-dark-2);
            margin-top: 1.25rem;
        }
    }
    p {
        margin: 0 auto;
        text-align: center;
    }
}

@include media-breakpoint-up(md) {
    .heading-title {
        h2 {
            width: 90%;
            font-size: rem(36px);
            line-height: rem(44px);
        }
        p {
            width: 90%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .heading-title {
        h2 {
            width: 70%;
        }
        p {
            width: 70%;
        }
    }
}
