#banner-blog {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("/images/web/blog/blog_banner_main.jpg");
}

.blog {
    padding: rem(20px) 0;
    &__image {
        float: left;
        padding-bottom: rem(10px);
    }
    &__container {
        max-width: rem(1200px);
        margin: 0 auto;
    }
}

@media only screen and (min-width: 762px) {
    .blog {
        padding: rem(60px) 0;
        & .container {
            min-height: rem(351px);
        }
        &__image {
            float: left;
            padding-right: rem(10px);
            padding-bottom: rem(5px);
        }
    }
}
