#banner-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("/images/web/home/main-banner.jpg");
}

#home-main-image {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: rem(20px);

    .content {
        position: absolute;
        width: 95%;
        bottom: 1.25rem;
        background-color: var(--primary-color-alfa-85);
        padding: 1.5rem;
        border-radius: 1rem;
        font-size: 1.75rem;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 2.125rem;

        p {
            margin: 0;
            padding-left: 10px;
            color: var(--white-color);
            font-size: rem(16px);
            line-height: rem(19px);

            &::after {
                content: "";
                position: absolute;
                width: 0.25rem;
                height: 2.375rem;
                display: block;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 0.187rem;
                background-color: var(--primary-color-dark-2);
                margin-left: -15px;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    #home-main-image {
        margin-top: 0;
    }
}

#bg-home-rates {
    background: url("/images/web/home/rates/home_banner_tarifas.png");
    background-size: cover;
    min-height: 8.25rem;
    h3 {
        color: var(--white-color);
        font-size: rem(30px);
        font-weight: bold;
        letter-spacing: 0;
        text-align: center;
    }
    .btn {
        border: 0.062rem solid var(--white-color);

        &:first-child {
            margin-right: 1.875rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    #bg-home-rates {
        h3 {
            font-size: rem(46px);
            line-height: rem(54px);
        }
        .btn {
            padding: rem(13px) rem(38px);
        }
    }
}
